<div class="container mt-2 text-center">
    <h2>Listado de Tareas</h2>
    <div class="text-left mt-4">
        <button class="btn btn-primary" routerLink="/create">Crear Tarea</button>
    </div>

 
    <mat-card appearance="outlined">

      
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">description</th>
                <th scope="col">options</th>
              </tr>
            </thead>
            <tbody>
              @for(task of listTask;track task.id){
                <tr>
                  <th scope="row">{{task.id}}</th> <!-- id -->
                  <td>{{task.name}}</td><!-- name  -->
                  <td>{{task.description}}</td><!-- desc -->
                  <td><button type="button" class="btn btn-success">Edit</button>
                      <button type="button" class="btn btn-danger" (click)="deleteTask(task)">Delete</button></td>
                </tr>
              }
            </tbody>
          </table>
    </mat-card>
</div>